* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .nav-bar {
    display: flex;
    margin: 3px;
    padding: 2px;
  }
  
  #new-player-form {
    margin: 15px 20px;
  }
  
  input[type="text"] {
    width: 200px;
    height: 20px;
    margin: 3px;
    border: 1px solid #00000074;
  }
  
  .all-players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .player-container {
    flex-basis: 20px;
    flex-grow: 0;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .single-player-view {
    flex-basis: 20px;
    flex-grow: 0;
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
    margin: 5px 1px;
  }
  
  .player-image {
    max-width: 250px;
    max-height: 500px;
    width: auto;
    height: auto;
  }
  
  .pup-image-single-view {
    max-width: 400px;
    max-height: 500px;
    width: auto;
    height: auto;
  }
  
  .detail-button,
  .delete-button {
    width: 250px;
    height: 28px;
    margin: 5px 1px;
  }